In [1]:
import pandas as pd
import numpy as np

In [2]:
# import data

opi = pd.read_parquet("/Users/yangshining/Desktop/pds2021-opioids-pds6/10_modified_data/opi_pop.parquet", engine='fastparquet')

deaths = pd.read_parquet("/Users/yangshining/Desktop/pds2021-opioids-pds6/10_modified_data/vital_pop.parquet", engine='fastparquet')

pop = pd.read_parquet("/Users/yangshining/Desktop/pds2021-opioids-pds6/10_modified_data/pop_final.parquet", engine='fastparquet')

In [3]:
opi.sample(10)

,BUYER_STATE,BUYER_COUNTY,fips,year,MME,Population,MME per cap,treatment
index,,,,,,,,
744,FL,ESCAMBIA,12033,2012,1.290162e+08,303423.0,425.202553,1
886,FL,JEFFERSON,12065,2013,2.328159e+06,14209.0,163.850993,1
7143,TX,HANSFORD,48195,2011,2.196758e+05,5580.0,39.368427,0
3398,LA,TANGIPAHOA,22105,2008,5.874808e+07,118621.0,495.258722,0
4424,MT,LEWIS AND CLARK,30049,2006,1.474855e+07,59529.0,247.754064,0
2366,GA,THOMAS,13275,2011,1.256260e+07,44590.0,281.735841,0
1316,GA,BROOKS,13027,2010,8.789121e+06,16243.0,541.102070,0
4549,MT,RAVALLI,30081,2014,1.641839e+07,40745.0,402.954625,0
2758,ID,GOODING,16047,2013,5.428873e+06,15169.0,357.892633,0
8470,WA,FERRY,53019,2010,2.345338e+06,7551.0,310.599702,0

In [27]:
deaths.sample(10)

,STNAME,CTYNAME,fips,Year,Deaths,vital deaths per cap,treatment,policy_year
index,,,,,,,,
179,Maryland,Anne Arundel County,24003,2012,75,0.000136,0,1
7333,Wisconsin,Walworth County,55127,2011,12,0.000117,0,1
5731,Arkansas,Pulaski County,05119,2004,35,0.000095,0,0
4174,Michigan,Macomb County,26099,2005,146,0.000176,0,0
5491,Washington,Pierce County,53053,2006,68,0.000089,1,0
4822,Texas,Montgomery County,48339,2011,42,0.000089,1,1
6781,Louisiana,St. Tammany Parish,22103,2008,51,0.000222,0,0
610,Louisiana,Bossier Parish,22015,2009,12,0.000104,0,0
7653,North Carolina,Wilkes County,37193,2005,16,0.000235,0,0
603,West Virginia,Boone County,54005,2014,22,0.000928,0,1

## Stats for Florida

In [73]:
opi["policy_year"] = np.where(opi["year"]<2010, 0, 1)

deaths["policy_year"] = np.where(deaths["Year"]<2010, 0, 1)

In [74]:
control_fl = ["GA", "SC", "AL", "MS"]
control_fl_d = ["Georgia", "South Carolina", "Alabama", "Mississippi"]

In [75]:
# Stats for control states before policy year

np.round(opi[(opi["BUYER_STATE"].isin(control_fl)) & (opi["policy_year"]==0)][["MME", "MME per cap"]].describe(), 2)

                MME  MME per cap
count  1.385000e+03      1385.00
mean   1.887056e+07       277.68
std    3.410423e+07       172.43
min    3.027000e+02         0.10
25%    2.980116e+06       158.53
50%    7.448286e+06       247.89
75%    2.084782e+07       363.04
max    5.121900e+08      1476.92

In [76]:
deaths[(deaths["STNAME"].isin(control_fl_d)) & (deaths["policy_year"]==0)][["Deaths", "vital deaths per cap"]].describe()

           Deaths  vital deaths per cap
count  323.000000            323.000000
mean    23.708978              0.000130
std     18.954395              0.000074
min     10.000000              0.000031
25%     12.000000              0.000076
50%     16.000000              0.000117
75%     28.000000              0.000157
max    129.000000              0.000474

In [77]:
# Stats for control states after policy year

np.round(opi[(opi["BUYER_STATE"].isin(control_fl)) & (opi["policy_year"]==1)][["MME", "MME per cap"]].describe(), 2)

                MME  MME per cap
count  1.727000e+03      1727.00
mean   2.883168e+07       418.29
std    5.364203e+07       250.84
min    2.662020e+04         3.89
25%    4.615383e+06       246.29
50%    1.141191e+07       371.01
75%    3.072429e+07       537.94
max    6.893013e+08      2624.69

In [31]:
deaths[(deaths["STNAME"].isin(control_fl_d)) & (deaths["policy_year"]==1)][["Deaths", "vital deaths per cap"]].describe()

           Deaths  vital deaths per cap
count  399.000000            399.000000
mean    26.774436              0.000150
std     24.513236              0.000073
min     10.000000              0.000047
25%     12.000000              0.000101
50%     19.000000              0.000136
75%     30.000000              0.000177
max    210.000000              0.000526

In [78]:
# Stats for Florida before policy year
np.round(opi[(opi["BUYER_STATE"] == "FL") & (opi["policy_year"]==0)][["MME", "MME per cap"]].describe(), 2)

                MME  MME per cap
count  2.650000e+02       265.00
mean   1.673085e+08       442.28
std    3.536809e+08       277.77
min    6.284498e+05        78.45
25%    8.481539e+06       239.75
50%    4.551490e+07       388.04
75%    1.502056e+08       557.57
max    2.584508e+09      1749.64

In [32]:
deaths[(deaths["STNAME"]=="Florida") & (deaths["policy_year"]==0)][["Deaths", "vital deaths per cap"]].describe()

           Deaths  vital deaths per cap
count  238.000000            238.000000
mean    70.550420              0.000145
std     75.305367              0.000061
min     10.000000              0.000039
25%     17.000000              0.000101
50%     34.000000              0.000141
75%    100.250000              0.000178
max    326.000000              0.000359

In [65]:
# Stats for Florida after policy year
np.round(opi[(opi["BUYER_STATE"] == "FL") & (opi["policy_year"]==1)][["MME", "MME per cap"]].describe(), 2)

                MME  MME per cap
count  2.010000e+02       201.00
mean   1.190166e+08       421.13
std    1.659779e+08       175.47
min    6.762371e+05        71.43
25%    1.092743e+07       293.29
50%    5.625331e+07       425.20
75%    1.419171e+08       530.91
max    8.556097e+08       944.62

In [34]:
deaths[(deaths["STNAME"]=="Florida") & (deaths["policy_year"]==1)][["Deaths", "vital deaths per cap"]].describe()

           Deaths  vital deaths per cap
count  220.000000            220.000000
mean    70.763636              0.000149
std     70.669070              0.000064
min     10.000000              0.000039
25%     18.000000              0.000106
50%     38.000000              0.000141
75%    105.250000              0.000186
max    317.000000              0.000408

In [11]:
# difference in means

# before policy
diff1 = (
    opi[(opi["BUYER_STATE"] == "FL") & (opi["policy_year"] == 0)]["MME per cap"].mean()
    - opi[(opi["BUYER_STATE"].isin(control_fl)) & (opi["policy_year"] == 0)][
        "MME per cap"
    ].mean()
)

# after policy
diff2 = (
    opi[(opi["BUYER_STATE"] == "FL") & (opi["policy_year"] == 1)]["MME per cap"].mean()
    - opi[(opi["BUYER_STATE"].isin(control_fl)) & (opi["policy_year"] == 1)][
        "MME per cap"
    ].mean()
)

print(diff1, diff2)

164.5989216943036 112.25891422475195

In [13]:
# difference in means

# change of control before and after policy
diff1 = (
    opi[(opi["BUYER_STATE"].isin(control_fl)) & (opi["policy_year"] == 1)]["MME per cap"].mean()
    - opi[(opi["BUYER_STATE"].isin(control_fl)) & (opi["policy_year"] == 0)][
        "MME per cap"
    ].mean()
)

# change of Florida before and after policy
diff2 = (
    opi[(opi["BUYER_STATE"] == "FL") & (opi["policy_year"] == 1)]["MME per cap"].mean()
    - opi[(opi["BUYER_STATE"] == "FL") & (opi["policy_year"] == 0)]["MME per cap"].mean()
)

print(diff1, diff2)

140.6062701222408 88.26626265268914

In [14]:
np.round(opi["MME per cap"].describe(), 2).T[['count','mean', 'std', 'min', 'max']]

count    8727.00
mean      326.72
std       216.39
min         0.01
max      2624.69
Name: MME per cap, dtype: float64

## Stats for Texas

In [79]:
opi["policy_year"] = np.where(opi["year"]<2007, 0, 1)
deaths["policy_year"] = np.where(deaths["Year"]<2007, 0, 1)

In [80]:
control_tx = ["LA", "NM", "OK"]

control_tx_d = ["Louisiana", "New Mexico", "Oklahoma"]

In [81]:
# Stats for control states before policy year

np.round(opi[(opi["BUYER_STATE"].isin(control_tx)) & (opi["policy_year"]==0)][["MME", "MME per cap"]].describe(),2)

                MME  MME per cap
count  1.690000e+02       169.00
mean   1.921541e+07       260.79
std    4.409914e+07       134.60
min    1.029180e+05        22.16
25%    2.837142e+06       157.64
50%    6.338894e+06       241.25
75%    1.588303e+07       347.44
max    3.132169e+08       818.31

In [82]:
deaths[(deaths["STNAME"].isin(control_tx_d)) & (deaths["policy_year"]==0)][["Deaths", "vital deaths per cap"]].describe()

           Deaths  vital deaths per cap
count  110.000000            110.000000
mean    35.209091              0.000187
std     36.059099              0.000084
min     10.000000              0.000041
25%     15.000000              0.000123
50%     19.000000              0.000178
75%     36.500000              0.000237
max    171.000000              0.000471

In [84]:
# Stats for control states after policy year

np.round(opi[(opi["BUYER_STATE"].isin(control_tx)) & (opi["policy_year"]==1)][["MME", "MME per cap"]].describe(), 2)

                MME  MME per cap
count  1.352000e+03      1352.00
mean   2.752493e+07       381.34
std    6.045824e+07       195.60
min    1.344750e+03         0.33
25%    3.964450e+06       230.61
50%    1.059112e+07       363.07
75%    2.540337e+07       504.31
max    5.370146e+08      1429.45

In [85]:
deaths[(deaths["STNAME"].isin(control_tx_d)) & (deaths["policy_year"]==1)][["Deaths", "vital deaths per cap"]].describe()

           Deaths  vital deaths per cap
count  352.000000            352.000000
mean    32.667614              0.000201
std     39.239716              0.000106
min     10.000000              0.000049
25%     13.000000              0.000128
50%     17.000000              0.000183
75%     30.000000              0.000248
max    219.000000              0.000981

In [86]:
# Stats for TX before policy

opi[(opi["BUYER_STATE"]=="TX") & (opi["policy_year"]==0)][["MME", "MME per cap"]].describe()

                MME  MME per cap
count  2.290000e+02   229.000000
mean   1.744856e+07   151.888783
std    7.144356e+07   100.528394
min    3.027000e+02     0.039631
25%    1.043502e+06    80.239362
50%    2.834460e+06   139.335802
75%    1.008127e+07   202.529599
max    9.272859e+08   711.416525

In [87]:
deaths[(deaths["STNAME"]=="Texas") & (deaths["policy_year"]==0)][["Deaths", "vital deaths per cap"]].describe()

           Deaths  vital deaths per cap
count  112.000000            112.000000
mean    52.857143              0.000101
std     81.994820              0.000066
min     10.000000              0.000014
25%     12.000000              0.000058
50%     18.000000              0.000094
75%     41.750000              0.000115
max    427.000000              0.000427

In [89]:
# Stats for TX after policy year

opi[(opi["BUYER_STATE"]=="TX") & (opi["policy_year"]==1)][["MME", "MME per cap"]].describe()

                MME  MME per cap
count  1.808000e+03  1808.000000
mean   2.366180e+07   204.323492
std    8.276436e+07   113.839912
min    6.054000e+01     0.034227
25%    1.422733e+06   117.428574
50%    4.025854e+06   195.156085
75%    1.463076e+07   268.273036
max    1.161009e+09   799.206779

In [90]:
deaths[(deaths["STNAME"]=="Texas") & (deaths["policy_year"]==1)][["Deaths", "vital deaths per cap"]].describe()

           Deaths  vital deaths per cap
count  320.000000            320.000000
mean    52.412500              0.000104
std     84.212888              0.000050
min     10.000000              0.000018
25%     13.000000              0.000072
50%     20.000000              0.000095
75%     43.000000              0.000122
max    528.000000              0.000355

## Stats for Washington

In [93]:
control_wa = ["MN", "ID", "OR"]

control_wa_d = ["Minnesota", "Idaho", "Oregon"]

In [94]:
opi["policy_year"] = np.where(opi["year"]<2012, 0, 1)

deaths["policy_year"] = np.where(deaths["Year"]<2012, 0, 1)

In [95]:
# Stats for control states before policy year

np.round(opi[(opi["BUYER_STATE"].isin(control_wa)) & (opi["policy_year"]==0)][["MME", "MME per cap"]].describe(), 2)

                MME  MME per cap
count  4.500000e+02       450.00
mean   2.733040e+07       324.38
std    5.453585e+07       181.03
min    2.179400e+02         0.06
25%    2.264935e+06       189.30
50%    6.682506e+06       304.47
75%    2.449303e+07       436.28
max    3.927903e+08       950.29

In [96]:
deaths[(deaths["STNAME"].isin(control_wa_d)) & (deaths["policy_year"]==0)][["Deaths", "vital deaths per cap"]].describe()

           Deaths  vital deaths per cap
count  132.000000            132.000000
mean    38.280303              0.000097
std     39.059226              0.000050
min     10.000000              0.000026
25%     13.750000              0.000066
50%     25.000000              0.000086
75%     40.250000              0.000110
max    178.000000              0.000295

In [98]:
# Stats for control states after policy year

np.round(opi[(opi["BUYER_STATE"].isin(control_wa)) & (opi["policy_year"]==1)][["MME", "MME per cap"]].describe(), 2)

                MME  MME per cap
count  2.260000e+02       226.00
mean   3.255642e+07       415.27
std    5.732886e+07       208.55
min    1.816000e+01         0.01
25%    3.374096e+06       276.05
50%    8.446390e+06       387.02
75%    3.287838e+07       535.08
max    3.336373e+08      1002.28

In [99]:
deaths[(deaths["STNAME"].isin(control_wa_d)) & (deaths["policy_year"]==1)][["Deaths", "vital deaths per cap"]].describe()

           Deaths  vital deaths per cap
count   85.000000             85.000000
mean    38.023529              0.000118
std     38.823464              0.000053
min     10.000000              0.000034
25%     13.000000              0.000080
50%     22.000000              0.000105
75%     43.000000              0.000150
max    167.000000              0.000307

In [101]:
# Stats for WA before policy

np.round(opi[(opi["BUYER_STATE"]=="WA") & (opi["policy_year"]==0)][["MME", "MME per cap"]].describe(), 2)

                MME  MME per cap
count  2.340000e+02       234.00
mean   6.086865e+07       360.97
std    1.142351e+08       157.18
min    7.610585e+05       101.38
25%    6.925937e+06       246.72
50%    1.878132e+07       327.28
75%    5.064522e+07       449.57
max    6.469564e+08       878.91

In [103]:
deaths[(deaths["STNAME"]=="Washington") & (deaths["policy_year"]==0)][["Deaths", "vital deaths per cap"]].describe()

           Deaths  vital deaths per cap
count  134.000000            134.000000
mean    50.485075              0.000134
std     63.273928              0.000054
min     10.000000              0.000043
25%     13.250000              0.000095
50%     19.000000              0.000130
75%     72.750000              0.000161
max    274.000000              0.000307

In [105]:
# Stats for WA after policy year

np.round(opi[(opi["BUYER_STATE"]=="WA") & (opi["policy_year"]==1)][["MME", "MME per cap"]].describe(), 2)

                MME  MME per cap
count  1.170000e+02       117.00
mean   6.271767e+07       387.44
std    1.126149e+08       150.61
min    8.725554e+05       147.81
25%    8.001651e+06       288.27
50%    2.140620e+07       349.98
75%    6.017888e+07       450.76
max    6.113527e+08       809.33

In [106]:
deaths[(deaths["STNAME"]=="Washington") & (deaths["policy_year"]==1)][["Deaths", "vital deaths per cap"]].describe()

           Deaths  vital deaths per cap
count   64.000000             64.000000
mean    54.171875              0.000139
std     72.524666              0.000045
min     10.000000              0.000057
25%     14.000000              0.000103
50%     21.000000              0.000140
75%     59.750000              0.000166
max    309.000000              0.000231